:root {
  --timing: 700ms;
  --rotate: 20deg;
}

html {
  color-scheme: dark;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191c29;
  perspective: 1000px;
}

img {
  max-width: 100%;
}

.card {
  width: 300px;
  aspect-ratio: 9 / 13;

  position: relative;
  transform-style: preserve-3d;
  transition: rotate var(--timing) ease;
}

.card:hover {
  rotate: x var(--rotate);
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 100;
  background-image: radial-gradient(circle 300px, transparent 100px, black);
  opacity: 0;
  transition: opacity var(--timing);
}

.card:hover::before {
  opacity: 1;
}

.card::after {
  content: "";
  position: absolute;
  inset: 80% 1rem 1rem;
  translate: 0;
  z-index: 1;
  background: black;
  filter: blur(1.5rem);
  transition: translate var(--timing);
}

.card:hover::after {
  translate: 0 40px;
}

.card > * {
  position: absolute;
}

.back-image {
  position: absolute;
  z-index: 10;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.logo,
.front-image {
  position: absolute;
}

.logo {
  z-index: 1000;
  width: 60%;
  margin-inline: auto;
  inset: auto 0 0.5rem;
  transition: var(--timing);
}

.card:hover .logo {
  transform: translateY(-2rem) translateZ(20px);
  rotate: x calc(var(--rotate) * -1);
}

.front-image {
  transform-origin: bottom;
  opacity: 0;
  z-index: 100;
  transition: var(--timing);
}

.card:hover .front-image {
  opacity: 1;
  transform: translateY(-4rem) translateZ(0px);
  rotate: x calc(var(--rotate) * -1);
}
